<!--div do rodape-->
<div class="container-fluid " style="background: rgb(36, 36, 36);">
    <!--rodape com uso de footer-->
    <footer style=" background: rgb(36, 36, 36); color: aliceblue;">
      <!--linha das colunas-->
      <div class="row">
        <!--coluna 1-->
        <div class="col-5 offset-1 my-3">
        <p>FACULDADE SAO JUDAS</p>
        <p> Diego ferreira  RA:819151877</p> 
        <p> Ezequiel adrian RA:819161407 </p>
        <p> Joao guilherme RA:819164180</p>
        <p> Gabriel kenji RA:819168450</p>
        </div>
        <!--coluna 2-->
        <div class="col-5  my-3">
        <p>GRUPO LOS-QUARENTENOS</p>
        <p> Vagner furlan RA:819213734</p>
        <p>Gabriel tamaro RA:820140901</p>
        <p> Felipe vasconselos RA:81920709 </p>
        </div>
  
      </div>
  
    </footer>
  </div>
