<!--apresentacao do cabecalho-->
<app-cabecalho></app-cabecalho>
<!--div com container para fluxo de paginas-->
<div class="container-fluid" id="imgfundo">
  <div class="row col-12 col-md-8 col-lx-6 col-sm-9  ">
  <router-outlet> </router-outlet>
</div>
</div>
<!--div do rodape-->
<div class="container-fluid " style="background: rgb(36, 36, 36);">
  <!--rodape com uso de footer-->
  <footer style=" background: rgb(36, 36, 36); color: aliceblue;">
    <!--linha das colunas-->
    <div class="row">
      <!--coluna 1-->
      <div class="col offset-1 my-3">
      <p>FACULDADE SAO JUDAS</p>
      <p>nome aluno</p>
      <p>nome aluno</p>
      <p>nome aluno</p>
      <p>nome aluno</p>
      </div>
      <!--coluna 2-->
      <div class="col  my-3">
      <p>GRUPO LOS-QUARENTENOS</p>
      <p>nome aluno</p>
      <p>nome aluno</p>
      <p>nome aluno</p>
      <p>nome aluno</p>
      </div>

    </div>

  </footer>
</div>
